.card {
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 1px solid #7c7c7c;
  padding: 0px 12px 12px 12px;
}
.title {
  font-size: calc(10px + 3vmin);
  text-decoration: none;
  color: #61dafb;
}
.imgWrap {
  height: 240px;

  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.removeBtn {
  width: max-content;
  padding: 8px 12px;
  font-size: 18px;
  background: none;
  color: #fc5353;
  border: 1px solid #fc5353;
  border-radius: 4px;
  cursor: pointer;
}
